pidfile = "/var/run/prosody/prosody.pid"

--
-- Datenbankanbindung
---------------------------------

storage = "internal"
--storage = "sql"

--sql = {
--    driver = "MySQL";
--    database = "prosody";
--    host = "localhost";
--    username = "prosody";
--    password = "prosodypasswort";
--}


--
-- Authentifizierung
---------------------------------

-- Passwörter gehashed abspeichern
authentication = "internal_hashed"

-- Admin-Account festlegen
admins = { "$PROSODY_ADMIN_USER@$HIDDEN_SERVICE" }


--
-- TLS Konfiguration
---------------------------------

-- Verschlüsselte Verbindungen zu Clients und Servern erzwingen
c2s_require_encryption = false;
s2s_require_encryption = false;

-- Server müssen anerkannte, gültigen Sicherheitszertifikate vorweisen
-- Siehe auch: https://thomas-leister.de/sichere-xmpp-s2s-verschluesselung/
s2s_secure_auth = false;

--ssl = {
--    options = { "no_sslv2", "no_sslv3", "no_compression" };

--    dhparam = "/etc/myssl/dh2048.pem";
--    key = "/etc/myssl/privkey.pem";
--    certificate = "/etc/myssl/fullchain.pem";
--}


--
-- Prosody Module
---------------------------------

-- Pfad zu den Prosody-Modulen
plugin_paths = { "/opt/prosody-modules" }

-- Aktivierte Module (global, für alle vHosts)
modules_enabled = {
    -- Wichtige Module
    "roster";
    "saslauth";
    "tls";
    "dialback";
    "disco";

    -- Empfohlene Module
    "private";
    "vcard";
    "offline";
    "admin_adhoc";
    "http";

    -- Nice to have
    "legacyauth";
    "version";
    "uptime";
    "time";
    "ping";
    --"register_web";
    --"register";
    "posix";
    "bosh";
    "announce";
    "proxy65";
    "pep";
    "smacks";
    "carbons";
    "blocking";
    "http_upload";
    "csi";
    "throttle_presence";
    "mam";
    "lastlog";
    "cloud_notify";
    "compat_dialback";
    "admin_web";

    -- additional modules
    "auto_activate_hosts";
    "c2s_conn_throttle";
    "c2s_limit_sessions";
    "csi";
    "filter_chatstates";
    "host_guard";
    "lastlog";
    "limit_auth";
    "list_inactive";
    "log_sasl_mech";
    "motd_sequential";
    "omemo_all_access";
    "reload_modules";
    "register_redirect";
    "s2s_auth_compat";
    "smacks";
    "throttle_presence";
    "onions";
    "conversejs";
};


--
-- Logging
----------------------------------
log = {
 debug = "/var/log/prosody/prosody.log";
 error = "/var/log/prosody/prosody.err";
}


--
-- Register Web Template files
-- (Kann auch entfernt werden, dann wird Standard-Template genutzt)
----------------------------------

-- register_web_template = "/etc/prosody/register-templates/Prosody-Web-Registration-Theme";


--
-- MAM settings
-- (Chats nicht standardmäßig loggen, nach einem Monat vom Server löschen)
----------------------------

default_archive_policy = false;
archive_expires_after = "1m";


--
-- HTTP Config
----------------------------------

http_default_host = "$HIDDEN_SERVICE"

http_paths = {
--    register_web = "/register";
}

-- BOSH-Funktionalität auch für Clients auf anderen Domains freigeben
-- BOSH steht unter https://xmppserver:5281/http-bind/ zur Verfügung
cross_domain_bosh = true;


--
-- Service Discovery
----------------------------------

-- Multi-User-Chat (MUC) soll als verfügbarer XMPP Dienst aufgeführt werden
disco_items = {
    { "conference.$HIDDEN_SERVICE", "The $HIDDEN_SERVICE MUC" };
}


--
-- MOD_ONIONS CONFIG
------------------------------------
-- source: https://elbinario.net/2015/12/14/instalar-y-configurar-mod_onions-en-prosody/
onions_tor_all = true
onions_only = true
onions_map = {
        ["jabber.calyxinstitute.org"] = "ijeeynrc6x2uy5ob.onion";
        ["riseup.net"] = "4cjw6cwpeaeppfqz.onion";
        ["autistici.org"] = "wi7qkxyrdpu5cmvr.onion";
        ["inventati.org"] = "wi7qkxyrdpu5cmvr.onion";
        ["jabber.otr.im"] = "5rgdtlawqkcplz75.onion";
}

--
-- XMPP VirtualHosts
------------------------------------

-- xmppserver.tld als einziger XMPP-vHost
VirtualHost "$HIDDEN_SERVICE"
    allow_registration = false
    min_seconds_between_registrations = 60

    http_host = "$HIDDEN_SERVICE"

    -- Einstellungen zum MUC
    Component "conference.$HIDDEN_SERVICE" "muc"
        name = "$HIDDEN_SERVICE Chatrooms"
        restrict_room_creation = false
max_history_messages = 100
