"Subject: Your riotbox.sh is ready!\n\nRoot-User: pi\nRoot-Password: $ROOT_PASSWORD\nXMPP-Admin: riotboxadmin\nXMPP-Admin-Pass: $PROSODY_ADMIN_PASSWORD\nStorage-Unlock-Pass: $STORAGE_ENC_PASSWORD\nYour Hidden Service Address: HIDDEN_SERVICE"
